@use '../util/' as *;

.cta {
  position: relative;
  z-index: 2;
  max-width: $mini-tab;
  padding: 20px var(--side-p);
  background: rgba(#121212,.8);
  color: var(--bg);
  @media (min-width: $mini-tab) {
    margin: 0 auto -30px auto;
  }
  &__content {
    @include df(center, center, column, 20px);
    .btns {
      @include df(center, center, row wrap, 10px);
      a {
        @include btn(var(--bg), var(--text));
        &:hover {
          border-color: var(--medium);
        }
      }
    }
  }
}