@use '../util/' as *;

.cta {
  position: relative;
  z-index: 2;
  max-width: $mini-tab;
  padding: 20px var(--side-p);
  background: #383030;
  color: var(--bg);
  @media (min-width: $mini-tab) {
    margin: 0 auto -30px auto;
  }
  &__content {
    color: var(--white);
    @include df(center, center, column, 20px);
    .btns {
      @include df(center, center, row wrap, 10px);
      a {
        @include btn(var(--bg), var(--text), var(--text), var(--bg));
      }
    }
  }
}